.modal {
    --radius: 12px;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 11;
}

.modalOverlay {
    position: absolute;
    inset: 0;
}

.modalContent {
    position: relative;
    z-index: 1;
    padding: 100px 24px 0;
    min-width: 320px;
    background-color: #fff;
    border-radius: var(--radius);
}

.title {
    margin-top: 0;
}

.footer {
    display: flex;
    margin: 90px -24px 0;
}

.buttonCancel,
.buttonOk {
    box-shadow: none;
    outline: none;
    color: #fff;
    width: 50%;
    border-radius: 0;
    border: none;
    height: 50px;
}

.buttonCancel {
    background-color: red;
    box-shadow: none;
    outline: none;
    color: #fff;
    width: 50%;
    border-bottom-left-radius: var(--radius);
}

.buttonOk {
    background-color: blue;
    box-shadow: none;
    outline: none;
    color: #fff;
    border-bottom-right-radius: var(--radius);
}
